@using Domain.Enum
@model Application.DTOs.StaffRequestModel



@{
    ViewData["Title"] = "RegisterStaff";
}


@{
    var alertMessage = ViewBag.errorException as string;
    var errorMessage = ViewBag.errorMessage as string;
    var alertType = TempData["AlertType"] as string ?? "info";
}

@if (!string.IsNullOrEmpty(alertMessage))
{
    <div class="alert alert-@alertType alert-dismissible fade show" role="alert">
        @alertMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-@alertType alert-dismissible fade show" role="alert">
        @errorMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}



<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Staff Registration Form</title>
    <link rel="shortcut icon" type="image/png" href="~/SideBar/file.png" />
    <link rel="stylesheet" href="~/Template/assets/css/staff.css" />
</head>

<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden text-bg-light min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="~/SideBar/file.png" alt="">
                                </a>
                                <p class="text-center fs-5 fw-bold mb-4">Register Staffs</p>
                                <form asp-action="RegisterStaff" method="post">
                                    <div class="mb-3">
                                        <label asp-for="Email" class="form-label">Email Address</label>
                                        <input type="email" class="form-control" placeholder="Enter your email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Password" class="form-label">Password</label>
                                        <input type="password" class="form-control" placeholder="Enter your password">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="FirstName" class="form-label">First Name</label>
                                        <input type="text" class="form-control" placeholder="Enter your first name">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="LastName" class="form-label">Last Name</label>
                                        <input type="text" class="form-control" placeholder="Enter your last name">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                                        <input type="number" class="form-control" placeholder="Enter your phone number">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Address" class="form-label">Home Address</label>
                                        <input type="text" class="form-control" placeholder="Enter your home address">
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Gender" class="form-label">Gender</label>
                                        <select class="form-control" asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
                                            <option value="">Select Gender</option>
                                        </select>
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                    <div class="mb-4">
                                        <button type="submit" class="btn-primary">Sign Up</button>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <p class="mb-0">Want to return to Dashboard?</p>
                                        <a class="text-primary ms-2" asp-controller="Admin" asp-action="DashBoard">Dashboard</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Template/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Template/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>
</html>











@* <h1>Register Staff</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterStaff">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select class="form-control" asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
                    <option value="">Select Gender</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@